.btn {
    box-sizing: border-box;
    border-width: 2px;
    font-size: 12px;
    font-weight: 600;
    padding: 0.5rem 18px;
    line-height: 1.75;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #66615B;
    border-color: #66615B;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear; }
    .btn.btn-border, .btn.btn-link {
      background-color: transparent; }
    .btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover, .btn.active:focus, .btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled).active:focus,
    .show > .btn.dropdown-toggle {
      background-color: #403D39;
      color: #FFFFFF;
      border-color: #403D39;
      box-shadow: none; }
    .btn .caret {
      border-top-color: #FFFFFF; }
    .btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus, .btn.disabled:active, .btn.disabled.active, .btn:disabled, .btn:disabled:hover, .btn:disabled:focus, .btn:disabled.focus, .btn:disabled:active, .btn:disabled.active, .btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus, .btn[disabled]:active, .btn[disabled].active,
    fieldset[disabled] .btn,
    fieldset[disabled] .btn:hover,
    fieldset[disabled] .btn:focus,
    fieldset[disabled] .btn.focus,
    fieldset[disabled] .btn:active,
    fieldset[disabled] .btn.active {
      background-color: #403D39;
      border-color: #403D39; }
    .btn.btn-link {
      color: #66615B; }
      .btn.btn-link:hover, .btn.btn-link:focus, .btn.btn-link:active, .btn.btn-link.active, .btn.btn-link:focus:active,
      .open > .btn.btn-link.dropdown-toggle {
        background-color: transparent !important;
        color: #403D39 !important; }
      .btn.btn-link .caret {
        border-top-color: #66615B; }
    .btn .caret {
      border-top-color: #FFFFFF; }
    .btn:hover, .btn:focus {
      outline: 0 !important;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .btn:active, .btn.active,
    .open > .btn.dropdown-toggle {
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: 0 !important; }
    .btn[class*="btn-outline-"] {
      background-image: none;
      background-color: transparent; }
    .btn .nc-icon {
      position: relative;
      top: 2px; }
  
  .btn-just-icon {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    min-width: 40px;
    padding: 8px; }
    .btn-just-icon.btn-sm {
      padding: 4px !important; }
    .btn-just-icon i {
      font-size: 16px;
      padding: 2px 0px; }
  
  .btn-group .btn + .btn,
  .btn-group .btn + .btn-group,
  .btn-group .btn-group + .btn,
  .btn-group .btn-group + .btn-group {
    margin-left: -2px; }
  
  .btn-primary {
    background-color: #51cbce;
    border-color: #51cbce;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100); }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle {
      background-color: #34b5b8;
      color: #FFFFFF;
      border-color: #34b5b8;
      box-shadow: none; }
    .btn-primary .caret {
      border-top-color: #FFFFFF; }
    .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary:disabled:focus, .btn-primary:disabled.focus, .btn-primary:disabled:active, .btn-primary:disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active,
    fieldset[disabled] .btn-primary,
    fieldset[disabled] .btn-primary:hover,
    fieldset[disabled] .btn-primary:focus,
    fieldset[disabled] .btn-primary.focus,
    fieldset[disabled] .btn-primary:active,
    fieldset[disabled] .btn-primary.active {
      background-color: #34b5b8;
      border-color: #34b5b8; }
    .btn-primary.btn-link {
      color: #51cbce; }
      .btn-primary.btn-link:hover, .btn-primary.btn-link:focus, .btn-primary.btn-link:active, .btn-primary.btn-link.active, .btn-primary.btn-link:focus:active,
      .open > .btn-primary.btn-link.dropdown-toggle {
        background-color: transparent !important;
        color: #34b5b8 !important; }
      .btn-primary.btn-link .caret {
        border-top-color: #51cbce; }
    .btn-primary .caret {
      border-top-color: #FFFFFF; }
  
  .btn-success {
    background-color: #6bd098;
    border-color: #6bd098;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100); }
    .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success:active:focus, .btn-success:active:hover, .btn-success.active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled).active:focus,
    .show > .btn-success.dropdown-toggle {
      background-color: #44c47d;
      color: #FFFFFF;
      border-color: #44c47d;
      box-shadow: none; }
    .btn-success .caret {
      border-top-color: #FFFFFF; }
    .btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success:disabled, .btn-success:disabled:hover, .btn-success:disabled:focus, .btn-success:disabled.focus, .btn-success:disabled:active, .btn-success:disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active,
    fieldset[disabled] .btn-success,
    fieldset[disabled] .btn-success:hover,
    fieldset[disabled] .btn-success:focus,
    fieldset[disabled] .btn-success.focus,
    fieldset[disabled] .btn-success:active,
    fieldset[disabled] .btn-success.active {
      background-color: #44c47d;
      border-color: #44c47d; }
    .btn-success.btn-link {
      color: #6bd098; }
      .btn-success.btn-link:hover, .btn-success.btn-link:focus, .btn-success.btn-link:active, .btn-success.btn-link.active, .btn-success.btn-link:focus:active,
      .open > .btn-success.btn-link.dropdown-toggle {
        background-color: transparent !important;
        color: #44c47d !important; }
      .btn-success.btn-link .caret {
        border-top-color: #6bd098; }
    .btn-success .caret {
      border-top-color: #FFFFFF; }
  
  .btn-info {
    background-color: #51bcda;
    border-color: #51bcda;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100); }
    .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info:active:focus, .btn-info:active:hover, .btn-info.active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled).active:focus,
    .show > .btn-info.dropdown-toggle {
      background-color: #2ba9cd;
      color: #FFFFFF;
      border-color: #2ba9cd;
      box-shadow: none; }
    .btn-info .caret {
      border-top-color: #FFFFFF; }
    .btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info:disabled, .btn-info:disabled:hover, .btn-info:disabled:focus, .btn-info:disabled.focus, .btn-info:disabled:active, .btn-info:disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active,
    fieldset[disabled] .btn-info,
    fieldset[disabled] .btn-info:hover,
    fieldset[disabled] .btn-info:focus,
    fieldset[disabled] .btn-info.focus,
    fieldset[disabled] .btn-info:active,
    fieldset[disabled] .btn-info.active {
      background-color: #2ba9cd;
      border-color: #2ba9cd; }
    .btn-info.btn-link {
      color: #51bcda; }
      .btn-info.btn-link:hover, .btn-info.btn-link:focus, .btn-info.btn-link:active, .btn-info.btn-link.active, .btn-info.btn-link:focus:active,
      .open > .btn-info.btn-link.dropdown-toggle {
        background-color: transparent !important;
        color: #2ba9cd !important; }
      .btn-info.btn-link .caret {
        border-top-color: #51bcda; }
    .btn-info .caret {
      border-top-color: #FFFFFF; }
  
  .btn-warning {
    background-color: #fbc658;
    border-color: #fbc658;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100); }
    .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning:active:focus, .btn-warning:active:hover, .btn-warning.active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled).active:focus,
    .show > .btn-warning.dropdown-toggle {
      background-color: #fab526;
      color: #FFFFFF;
      border-color: #fab526;
      box-shadow: none; }
    .btn-warning .caret {
      border-top-color: #FFFFFF; }
    .btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning:disabled, .btn-warning:disabled:hover, .btn-warning:disabled:focus, .btn-warning:disabled.focus, .btn-warning:disabled:active, .btn-warning:disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled].active,
    fieldset[disabled] .btn-warning,
    fieldset[disabled] .btn-warning:hover,
    fieldset[disabled] .btn-warning:focus,
    fieldset[disabled] .btn-warning.focus,
    fieldset[disabled] .btn-warning:active,
    fieldset[disabled] .btn-warning.active {
      background-color: #fab526;
      border-color: #fab526; }
    .btn-warning.btn-link {
      color: #fbc658; }
      .btn-warning.btn-link:hover, .btn-warning.btn-link:focus, .btn-warning.btn-link:active, .btn-warning.btn-link.active, .btn-warning.btn-link:focus:active,
      .open > .btn-warning.btn-link.dropdown-toggle {
        background-color: transparent !important;
        color: #fab526 !important; }
      .btn-warning.btn-link .caret {
        border-top-color: #fbc658; }
    .btn-warning .caret {
      border-top-color: #FFFFFF; }
  
  .btn-danger {
    background-color: #f5593d;
    border-color: #f5593d;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100); }
    .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger:active:focus, .btn-danger:active:hover, .btn-danger.active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled).active:focus,
    .show > .btn-danger.dropdown-toggle {
      background-color: #f33816;
      color: #FFFFFF;
      border-color: #f33816;
      box-shadow: none; }
    .btn-danger .caret {
      border-top-color: #FFFFFF; }
    .btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger:disabled, .btn-danger:disabled:hover, .btn-danger:disabled:focus, .btn-danger:disabled.focus, .btn-danger:disabled:active, .btn-danger:disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active,
    fieldset[disabled] .btn-danger,
    fieldset[disabled] .btn-danger:hover,
    fieldset[disabled] .btn-danger:focus,
    fieldset[disabled] .btn-danger.focus,
    fieldset[disabled] .btn-danger:active,
    fieldset[disabled] .btn-danger.active {
      background-color: #f33816;
      border-color: #f33816; }
    .btn-danger.btn-link {
      color: #f5593d; }
      .btn-danger.btn-link:hover, .btn-danger.btn-link:focus, .btn-danger.btn-link:active, .btn-danger.btn-link.active, .btn-danger.btn-link:focus:active,
      .open > .btn-danger.btn-link.dropdown-toggle {
        background-color: transparent !important;
        color: #f33816 !important; }
      .btn-danger.btn-link .caret {
        border-top-color: #f5593d; }
    .btn-danger .caret {
      border-top-color: #FFFFFF; }
  
  .btn-neutral {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100); }
    .btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active, .btn-neutral.active, .btn-neutral:active:focus, .btn-neutral:active:hover, .btn-neutral.active:focus, .btn-neutral:not(:disabled):not(.disabled):active:focus, .btn-neutral:not(:disabled):not(.disabled):active, .btn-neutral:not(:disabled):not(.disabled).active, .btn-neutral:not(:disabled):not(.disabled).active:focus,
    .show > .btn-neutral.dropdown-toggle {
      background-color: #403D39;
      color: #FFFFFF;
      border-color: #403D39;
      box-shadow: none; }
    .btn-neutral .caret {
      border-top-color: #FFFFFF; }
    .btn-neutral.disabled, .btn-neutral.disabled:hover, .btn-neutral.disabled:focus, .btn-neutral.disabled.focus, .btn-neutral.disabled:active, .btn-neutral.disabled.active, .btn-neutral:disabled, .btn-neutral:disabled:hover, .btn-neutral:disabled:focus, .btn-neutral:disabled.focus, .btn-neutral:disabled:active, .btn-neutral:disabled.active, .btn-neutral[disabled], .btn-neutral[disabled]:hover, .btn-neutral[disabled]:focus, .btn-neutral[disabled].focus, .btn-neutral[disabled]:active, .btn-neutral[disabled].active,
    fieldset[disabled] .btn-neutral,
    fieldset[disabled] .btn-neutral:hover,
    fieldset[disabled] .btn-neutral:focus,
    fieldset[disabled] .btn-neutral.focus,
    fieldset[disabled] .btn-neutral:active,
    fieldset[disabled] .btn-neutral.active {
      background-color: #403D39;
      border-color: #403D39; }
    .btn-neutral.btn-link {
      color: #FFFFFF; }
      .btn-neutral.btn-link:hover, .btn-neutral.btn-link:focus, .btn-neutral.btn-link:active, .btn-neutral.btn-link.active, .btn-neutral.btn-link:focus:active,
      .open > .btn-neutral.btn-link.dropdown-toggle {
        background-color: transparent !important;
        color: #403D39 !important; }
      .btn-neutral.btn-link .caret {
        border-top-color: #FFFFFF; }
    .btn-neutral .caret {
      border-top-color: #FFFFFF; }
  
  .btn-outline-default {
    border-color: #66615B;
    color: #66615B;
    opacity: 1;
    filter: alpha(opacity=100); }
    .btn-outline-default:hover, .btn-outline-default:focus, .btn-outline-default:active, .btn-outline-default.active, .btn-outline-default:active:focus, .btn-outline-default:active:hover, .btn-outline-default.active:focus,
    .show > .btn-outline-default.dropdown-toggle {
      background-color: #66615B !important;
      color: rgba(255, 255, 255, 0.8);
      border-color: #66615B !important; }
      .btn-outline-default:hover .caret, .btn-outline-default:focus .caret, .btn-outline-default:active .caret, .btn-outline-default.active .caret, .btn-outline-default:active:focus .caret, .btn-outline-default:active:hover .caret, .btn-outline-default.active:focus .caret,
      .show > .btn-outline-default.dropdown-toggle .caret {
        border-top-color: rgba(255, 255, 255, 0.8); }
    .btn-outline-default .caret {
      border-top-color: #FFFFFF; }
    .btn-outline-default.disabled, .btn-outline-default.disabled:hover, .btn-outline-default.disabled:focus, .btn-outline-default.disabled.focus, .btn-outline-default.disabled:active, .btn-outline-default.disabled.active, .btn-outline-default:disabled, .btn-outline-default:disabled:hover, .btn-outline-default:disabled:focus, .btn-outline-default:disabled.focus, .btn-outline-default:disabled:active, .btn-outline-default:disabled.active, .btn-outline-default[disabled], .btn-outline-default[disabled]:hover, .btn-outline-default[disabled]:focus, .btn-outline-default[disabled].focus, .btn-outline-default[disabled]:active, .btn-outline-default[disabled].active,
    fieldset[disabled] .btn-outline-default,
    fieldset[disabled] .btn-outline-default:hover,
    fieldset[disabled] .btn-outline-default:focus,
    fieldset[disabled] .btn-outline-default.focus,
    fieldset[disabled] .btn-outline-default:active,
    fieldset[disabled] .btn-outline-default.active {
      background-color: transparent;
      border-color: #66615B; }
  
  .btn-outline-primary {
    border-color: #51cbce;
    color: #51cbce;
    opacity: 1;
    filter: alpha(opacity=100); }
    .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary:active:focus, .btn-outline-primary:active:hover, .btn-outline-primary.active:focus,
    .show > .btn-outline-primary.dropdown-toggle {
      background-color: #51cbce !important;
      color: rgba(255, 255, 255, 0.8);
      border-color: #51cbce !important; }
      .btn-outline-primary:hover .caret, .btn-outline-primary:focus .caret, .btn-outline-primary:active .caret, .btn-outline-primary.active .caret, .btn-outline-primary:active:focus .caret, .btn-outline-primary:active:hover .caret, .btn-outline-primary.active:focus .caret,
      .show > .btn-outline-primary.dropdown-toggle .caret {
        border-top-color: rgba(255, 255, 255, 0.8); }
    .btn-outline-primary .caret {
      border-top-color: #FFFFFF; }
    .btn-outline-primary.disabled, .btn-outline-primary.disabled:hover, .btn-outline-primary.disabled:focus, .btn-outline-primary.disabled.focus, .btn-outline-primary.disabled:active, .btn-outline-primary.disabled.active, .btn-outline-primary:disabled, .btn-outline-primary:disabled:hover, .btn-outline-primary:disabled:focus, .btn-outline-primary:disabled.focus, .btn-outline-primary:disabled:active, .btn-outline-primary:disabled.active, .btn-outline-primary[disabled], .btn-outline-primary[disabled]:hover, .btn-outline-primary[disabled]:focus, .btn-outline-primary[disabled].focus, .btn-outline-primary[disabled]:active, .btn-outline-primary[disabled].active,
    fieldset[disabled] .btn-outline-primary,
    fieldset[disabled] .btn-outline-primary:hover,
    fieldset[disabled] .btn-outline-primary:focus,
    fieldset[disabled] .btn-outline-primary.focus,
    fieldset[disabled] .btn-outline-primary:active,
    fieldset[disabled] .btn-outline-primary.active {
      background-color: transparent;
      border-color: #51cbce; }
  
  .btn-outline-success {
    border-color: #6bd098;
    color: #6bd098;
    opacity: 1;
    filter: alpha(opacity=100); }
    .btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success:active:focus, .btn-outline-success:active:hover, .btn-outline-success.active:focus,
    .show > .btn-outline-success.dropdown-toggle {
      background-color: #6bd098 !important;
      color: rgba(255, 255, 255, 0.8);
      border-color: #6bd098 !important; }
      .btn-outline-success:hover .caret, .btn-outline-success:focus .caret, .btn-outline-success:active .caret, .btn-outline-success.active .caret, .btn-outline-success:active:focus .caret, .btn-outline-success:active:hover .caret, .btn-outline-success.active:focus .caret,
      .show > .btn-outline-success.dropdown-toggle .caret {
        border-top-color: rgba(255, 255, 255, 0.8); }
    .btn-outline-success .caret {
      border-top-color: #FFFFFF; }
    .btn-outline-success.disabled, .btn-outline-success.disabled:hover, .btn-outline-success.disabled:focus, .btn-outline-success.disabled.focus, .btn-outline-success.disabled:active, .btn-outline-success.disabled.active, .btn-outline-success:disabled, .btn-outline-success:disabled:hover, .btn-outline-success:disabled:focus, .btn-outline-success:disabled.focus, .btn-outline-success:disabled:active, .btn-outline-success:disabled.active, .btn-outline-success[disabled], .btn-outline-success[disabled]:hover, .btn-outline-success[disabled]:focus, .btn-outline-success[disabled].focus, .btn-outline-success[disabled]:active, .btn-outline-success[disabled].active,
    fieldset[disabled] .btn-outline-success,
    fieldset[disabled] .btn-outline-success:hover,
    fieldset[disabled] .btn-outline-success:focus,
    fieldset[disabled] .btn-outline-success.focus,
    fieldset[disabled] .btn-outline-success:active,
    fieldset[disabled] .btn-outline-success.active {
      background-color: transparent;
      border-color: #6bd098; }
  
  .btn-outline-info {
    border-color: #51bcda;
    color: #51bcda;
    opacity: 1;
    filter: alpha(opacity=100); }
    .btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active, .btn-outline-info.active, .btn-outline-info:active:focus, .btn-outline-info:active:hover, .btn-outline-info.active:focus,
    .show > .btn-outline-info.dropdown-toggle {
      background-color: #51bcda !important;
      color: rgba(255, 255, 255, 0.8);
      border-color: #51bcda !important; }
      .btn-outline-info:hover .caret, .btn-outline-info:focus .caret, .btn-outline-info:active .caret, .btn-outline-info.active .caret, .btn-outline-info:active:focus .caret, .btn-outline-info:active:hover .caret, .btn-outline-info.active:focus .caret,
      .show > .btn-outline-info.dropdown-toggle .caret {
        border-top-color: rgba(255, 255, 255, 0.8); }
    .btn-outline-info .caret {
      border-top-color: #FFFFFF; }
    .btn-outline-info.disabled, .btn-outline-info.disabled:hover, .btn-outline-info.disabled:focus, .btn-outline-info.disabled.focus, .btn-outline-info.disabled:active, .btn-outline-info.disabled.active, .btn-outline-info:disabled, .btn-outline-info:disabled:hover, .btn-outline-info:disabled:focus, .btn-outline-info:disabled.focus, .btn-outline-info:disabled:active, .btn-outline-info:disabled.active, .btn-outline-info[disabled], .btn-outline-info[disabled]:hover, .btn-outline-info[disabled]:focus, .btn-outline-info[disabled].focus, .btn-outline-info[disabled]:active, .btn-outline-info[disabled].active,
    fieldset[disabled] .btn-outline-info,
    fieldset[disabled] .btn-outline-info:hover,
    fieldset[disabled] .btn-outline-info:focus,
    fieldset[disabled] .btn-outline-info.focus,
    fieldset[disabled] .btn-outline-info:active,
    fieldset[disabled] .btn-outline-info.active {
      background-color: transparent;
      border-color: #51bcda; }
  
  .btn-outline-warning {
    border-color: #fbc658;
    color: #fbc658;
    opacity: 1;
    filter: alpha(opacity=100); }
    .btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active, .btn-outline-warning.active, .btn-outline-warning:active:focus, .btn-outline-warning:active:hover, .btn-outline-warning.active:focus,
    .show > .btn-outline-warning.dropdown-toggle {
      background-color: #fbc658 !important;
      color: rgba(255, 255, 255, 0.8);
      border-color: #fbc658 !important; }
      .btn-outline-warning:hover .caret, .btn-outline-warning:focus .caret, .btn-outline-warning:active .caret, .btn-outline-warning.active .caret, .btn-outline-warning:active:focus .caret, .btn-outline-warning:active:hover .caret, .btn-outline-warning.active:focus .caret,
      .show > .btn-outline-warning.dropdown-toggle .caret {
        border-top-color: rgba(255, 255, 255, 0.8); }
    .btn-outline-warning .caret {
      border-top-color: #FFFFFF; }
    .btn-outline-warning.disabled, .btn-outline-warning.disabled:hover, .btn-outline-warning.disabled:focus, .btn-outline-warning.disabled.focus, .btn-outline-warning.disabled:active, .btn-outline-warning.disabled.active, .btn-outline-warning:disabled, .btn-outline-warning:disabled:hover, .btn-outline-warning:disabled:focus, .btn-outline-warning:disabled.focus, .btn-outline-warning:disabled:active, .btn-outline-warning:disabled.active, .btn-outline-warning[disabled], .btn-outline-warning[disabled]:hover, .btn-outline-warning[disabled]:focus, .btn-outline-warning[disabled].focus, .btn-outline-warning[disabled]:active, .btn-outline-warning[disabled].active,
    fieldset[disabled] .btn-outline-warning,
    fieldset[disabled] .btn-outline-warning:hover,
    fieldset[disabled] .btn-outline-warning:focus,
    fieldset[disabled] .btn-outline-warning.focus,
    fieldset[disabled] .btn-outline-warning:active,
    fieldset[disabled] .btn-outline-warning.active {
      background-color: transparent;
      border-color: #fbc658; }
  
  .btn-outline-danger {
    border-color: #f5593d;
    color: #f5593d;
    opacity: 1;
    filter: alpha(opacity=100); }
    .btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active, .btn-outline-danger.active, .btn-outline-danger:active:focus, .btn-outline-danger:active:hover, .btn-outline-danger.active:focus,
    .show > .btn-outline-danger.dropdown-toggle {
      background-color: #f5593d !important;
      color: rgba(255, 255, 255, 0.8);
      border-color: #f5593d !important; }
      .btn-outline-danger:hover .caret, .btn-outline-danger:focus .caret, .btn-outline-danger:active .caret, .btn-outline-danger.active .caret, .btn-outline-danger:active:focus .caret, .btn-outline-danger:active:hover .caret, .btn-outline-danger.active:focus .caret,
      .show > .btn-outline-danger.dropdown-toggle .caret {
        border-top-color: rgba(255, 255, 255, 0.8); }
    .btn-outline-danger .caret {
      border-top-color: #FFFFFF; }
    .btn-outline-danger.disabled, .btn-outline-danger.disabled:hover, .btn-outline-danger.disabled:focus, .btn-outline-danger.disabled.focus, .btn-outline-danger.disabled:active, .btn-outline-danger.disabled.active, .btn-outline-danger:disabled, .btn-outline-danger:disabled:hover, .btn-outline-danger:disabled:focus, .btn-outline-danger:disabled.focus, .btn-outline-danger:disabled:active, .btn-outline-danger:disabled.active, .btn-outline-danger[disabled], .btn-outline-danger[disabled]:hover, .btn-outline-danger[disabled]:focus, .btn-outline-danger[disabled].focus, .btn-outline-danger[disabled]:active, .btn-outline-danger[disabled].active,
    fieldset[disabled] .btn-outline-danger,
    fieldset[disabled] .btn-outline-danger:hover,
    fieldset[disabled] .btn-outline-danger:focus,
    fieldset[disabled] .btn-outline-danger.focus,
    fieldset[disabled] .btn-outline-danger:active,
    fieldset[disabled] .btn-outline-danger.active {
      background-color: transparent;
      border-color: #f5593d; }
  
  .btn-outline-neutral {
    border-color: #FFFFFF;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100); }
    .btn-outline-neutral:hover, .btn-outline-neutral:focus, .btn-outline-neutral:active, .btn-outline-neutral.active, .btn-outline-neutral:active:focus, .btn-outline-neutral:active:hover, .btn-outline-neutral.active:focus,
    .show > .btn-outline-neutral.dropdown-toggle {
      background-color: #FFFFFF !important;
      color: rgba(255, 255, 255, 0.8);
      border-color: #FFFFFF !important; }
      .btn-outline-neutral:hover .caret, .btn-outline-neutral:focus .caret, .btn-outline-neutral:active .caret, .btn-outline-neutral.active .caret, .btn-outline-neutral:active:focus .caret, .btn-outline-neutral:active:hover .caret, .btn-outline-neutral.active:focus .caret,
      .show > .btn-outline-neutral.dropdown-toggle .caret {
        border-top-color: rgba(255, 255, 255, 0.8); }
    .btn-outline-neutral .caret {
      border-top-color: #FFFFFF; }
    .btn-outline-neutral.disabled, .btn-outline-neutral.disabled:hover, .btn-outline-neutral.disabled:focus, .btn-outline-neutral.disabled.focus, .btn-outline-neutral.disabled:active, .btn-outline-neutral.disabled.active, .btn-outline-neutral:disabled, .btn-outline-neutral:disabled:hover, .btn-outline-neutral:disabled:focus, .btn-outline-neutral:disabled.focus, .btn-outline-neutral:disabled:active, .btn-outline-neutral:disabled.active, .btn-outline-neutral[disabled], .btn-outline-neutral[disabled]:hover, .btn-outline-neutral[disabled]:focus, .btn-outline-neutral[disabled].focus, .btn-outline-neutral[disabled]:active, .btn-outline-neutral[disabled].active,
    fieldset[disabled] .btn-outline-neutral,
    fieldset[disabled] .btn-outline-neutral:hover,
    fieldset[disabled] .btn-outline-neutral:focus,
    fieldset[disabled] .btn-outline-neutral.focus,
    fieldset[disabled] .btn-outline-neutral:active,
    fieldset[disabled] .btn-outline-neutral.active {
      background-color: transparent;
      border-color: #FFFFFF; }
    .btn-outline-neutral:hover, .btn-outline-neutral:focus, .btn-outline-neutral:active {
      color: #403D39 !important;
      background-color: #FFFFFF; }
  
  .btn-neutral {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
    color: #66615B; }
    .btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active, .btn-neutral.active, .btn-neutral:active:focus, .btn-neutral:active:hover, .btn-neutral.active:focus, .btn-neutral:not(:disabled):not(.disabled):active:focus, .btn-neutral:not(:disabled):not(.disabled):active, .btn-neutral:not(:disabled):not(.disabled).active, .btn-neutral:not(:disabled):not(.disabled).active:focus,
    .show > .btn-neutral.dropdown-toggle {
      background-color: #FFFFFF;
      color: #FFFFFF;
      border-color: #FFFFFF;
      box-shadow: none; }
    .btn-neutral .caret {
      border-top-color: #FFFFFF; }
    .btn-neutral.disabled, .btn-neutral.disabled:hover, .btn-neutral.disabled:focus, .btn-neutral.disabled.focus, .btn-neutral.disabled:active, .btn-neutral.disabled.active, .btn-neutral:disabled, .btn-neutral:disabled:hover, .btn-neutral:disabled:focus, .btn-neutral:disabled.focus, .btn-neutral:disabled:active, .btn-neutral:disabled.active, .btn-neutral[disabled], .btn-neutral[disabled]:hover, .btn-neutral[disabled]:focus, .btn-neutral[disabled].focus, .btn-neutral[disabled]:active, .btn-neutral[disabled].active,
    fieldset[disabled] .btn-neutral,
    fieldset[disabled] .btn-neutral:hover,
    fieldset[disabled] .btn-neutral:focus,
    fieldset[disabled] .btn-neutral.focus,
    fieldset[disabled] .btn-neutral:active,
    fieldset[disabled] .btn-neutral.active {
      background-color: #FFFFFF;
      border-color: #FFFFFF; }
    .btn-neutral.btn-link {
      color: #FFFFFF; }
      .btn-neutral.btn-link:hover, .btn-neutral.btn-link:focus, .btn-neutral.btn-link:active, .btn-neutral.btn-link.active, .btn-neutral.btn-link:focus:active,
      .open > .btn-neutral.btn-link.dropdown-toggle {
        background-color: transparent !important;
        color: #FFFFFF !important; }
      .btn-neutral.btn-link .caret {
        border-top-color: #FFFFFF; }
    .btn-neutral .caret {
      border-top-color: #FFFFFF; }
    .btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active {
      color: #403D39 !important; }
    .btn-neutral.btn-border:hover, .btn-neutral.btn-border:focus {
      color: #66615B; }
    .btn-neutral.btn-border:active, .btn-neutral.btn-border.active,
    .open > .btn-neutral.btn-border.dropdown-toggle {
      background-color: #FFFFFF;
      color: #66615B; }
    .btn-neutral.btn-link:hover, .btn-neutral.btn-link:focus, .btn-neutral.btn-link:active {
      color: #FFFFFF !important; }
    .btn-neutral.btn-link:focus:active {
      color: #403D39 !important; }
    .btn-neutral.btn-link:active, .btn-neutral.btn-link.active {
      background-color: transparent; }
  
  .btn:disabled, .btn[disabled], .btn.disabled {
    opacity: 0.5;
    filter: alpha(opacity=50); }
  
  .btn-link {
    border-color: transparent !important;
    padding: 7px 18px; }
    .btn-link:hover, .btn-link:focus, .btn-link:active {
      text-decoration: none;
      border-color: transparent; }
    .btn-link.btn-icon {
      padding: 7px; }
  
  .btn-lg {
    font-size: 14px;
    padding: 11px 30px; }
    .btn-lg.btn-simple {
      padding: 13px 30px; }
  
  .btn-sm {
    font-size: 12px;
    padding: 4px 10px; }
    .btn-sm.btn-simple {
      padding: 6px 10px; }
  
  .btn-wd {
    min-width: 140px; }
  
  .btn-group.select {
    width: 100%; }
  
  .btn-group.select .btn {
    text-align: left; }
  
  .btn-group.select .caret {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 8px; }
  
  .btn-just-icon.btn-sm {
    height: 30px;
    width: 30px;
    min-width: 30px;
    padding: 0; }
    .btn-just-icon.btn-sm i {
      font-size: 12px;
      top: 1px !important; }
  
  .btn-just-icon.btn-lg {
    height: 50px;
    width: 50px;
    min-width: 50px;
    padding: 13px; }
    .btn-just-icon.btn-lg i {
      font-size: 18px;
      padding: 0; }
  
  .btn-just-icon.btn-link {
    padding: 8px !important; }
  
  .btn-round {
    border-radius: 30px; }
  
  .btn.btn-link:focus {
    box-shadow: none !important;
    text-decoration: none; }
  
  .column .btn-link {
    padding: 7px 0; }
  
  .share-buttons .btn-outline-default {
    margin-top: 24px; }
  
  .btn-group.select {
    overflow: visible !important; }
  
  .media .media-body .media-footer .btn-neutral {
    margin: 15px 3px;
    font-size: 14px; }
    .media .media-body .media-footer .btn-neutral i {
      margin-right: 0 !important; }
  